<!DOCTYPE html>
<html lang="en">

<head>
  <title>Amazon Product Lookup
  </title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/custom.css">

</head>

<body>
  <div class="container text-center content">
    <h1><a href="/">Amazon Product Lookup</a></h1>
    <div class="row">
      <div class="col-lg-4 text-left">
      </div>
      <div class="jumbotron col-lg-4">
        <h3> Error: <%= msg %></h3>
      </div>
      <div class="col-lg-4">
      </div>
    </div>
  </div>
</body>

</html>